:root{
  --primary_ligth: #9e69fd;
  --primary: #9155fd;
  --primary_dark: #6e41c0;

  --secondary_ligth: #9c9fa4;
  --secondary: #8a8d93;
  --secondary_dark: #4d5056;

  --info_ligth: #32baff;
  --info: #16b1ff;
  --info_dark: #0e71a3;

  --success_ligth: #6ad01f;
  --success: #56ca00;
  --success_dark: #378100;

  --warning_ligth: #ffb547;
  --warning: #ffb400;
  --warning_dark: #a37300;

  --error_ligth: #ff6166;
  --error: #ff4c51;
  --error_dark: #a33134;

  --text_primary: #534f5a;
  --text_secondary: #79767e;
  --text_disabled: #b4b2b7;

  --other_divider: #e7e6e8;
  --other_outline_border: #d1d0d3;
  --other_input_line: #d4d3d5;
  --other_overlay: #9d9aa0;
  --other_snackbar_bg: #212121;
  --other_body_bg: #f4f5fa;
  --other_paper_card: #ffffff;

  --custom_bg_primary:#f2eaff;
  --custom_bg_segundary:#f1f1f2;
  --custom_bg_info:#e4f2fe;
  --custom_bg_success:#e9f5ea;
  --custom_bg_warning:#fdede0;
  --custom_bg_error:#fee8e7;

  --custom_bg_menu_active_primary:#9155FD;
  --custom_bg_menu_active_segundary:#C6A7FE;

  --white:#ffffff;

  --action_active:#949298;
  --action_hover:#f7f7f8;
  --action_selected:#f0eff0;
  --action_disable:#cccbce;
  --action_disable_bg:#e7e6e8;
  --action_focus:#e7e6e8;

}